.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.body {
  font-family: Lato, sans-serif;
  color: #00296b;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

.hero {
  position: static;
  margin-bottom: 120px;
  background-image: linear-gradient(45deg, #00296b, rgba(0, 41, 107, 0) 78%), url('../images/nexthero-min.jpg');
  background-position: 0px 0px, 50% 20%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 48px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.herocontainer {
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 140px 40px;
}

.herocontainer._10tipp {
  margin-top: 64px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.herocontainer.para-u-1 {
  position: relative;
  padding-bottom: 100px;
}

.h1 {
  width: 45%;
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Lora, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  font-weight: 500;
}

.h1.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 44px;
  text-align: center;
}

.h1.top10 {
  width: 100%;
  margin-bottom: 24px;
  color: #00296b;
  font-size: 32px;
  line-height: 44px;
  font-style: normal;
  font-weight: 600;
}

.quote {
  font-family: Lora, sans-serif;
  color: #8094b5;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
}

.main-cta {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 56px;
  margin-top: 48px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 6px;
  background-image: linear-gradient(60deg, #ff942e, #ffcc03);
  box-shadow: 2px 0 20px 2px rgba(204, 166, 33, 0.5);
  -webkit-transition: letter-spacing 200ms ease, box-shadow 200ms ease;
  transition: letter-spacing 200ms ease, box-shadow 200ms ease;
  font-weight: 700;
}

.main-cta:hover {
  box-shadow: none;
  letter-spacing: 1px;
}

.main-cta.center {
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.main-cta.form {
  margin-top: 24px;
}

.main-cta.kapcsoalt {
  width: 200px;
  height: 48px;
  margin-top: 0px;
}

.hashtag {
  margin-right: 8px;
  padding-right: 4px;
  padding-left: 4px;
  background-color: rgba(45, 103, 241, 0.7);
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  text-decoration: none;
}

.hashtag:hover {
  background-color: #2d67f1;
  letter-spacing: 0px;
}

.szamok {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.h2 {
  margin-bottom: 64px;
  font-family: Lora, sans-serif;
  font-size: 32px;
  line-height: 40px;
  text-align: left;
}

.h2.sm {
  margin-bottom: 0px;
}

.h2.sm.center {
  text-align: left;
}

.h2.erdeklodes {
  margin-bottom: 24px;
  text-align: center;
}

.h2.center {
  text-align: center;
}

.zolg-grid-l {
  margin-bottom: 64px;
  grid-column-gap: 24px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block {
  border-radius: 8px;
  background-image: url('../images/sanyi.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 20px 2px rgba(0, 41, 107, 0.2);
}

.paragraph {
  margin-top: 24px;
  margin-bottom: 24px;
  color: #8094b5;
  font-style: normal;
  font-weight: 400;
}

.paragraph.top10 {
  margin-bottom: 0px;
}

.paragraph.erdeklodes {
  text-align: center;
}

.strong {
  color: #00296b;
  font-weight: 700;
}

.stats {
  position: relative;
  margin-top: 32px;
  margin-bottom: 24px;
}

.right-bottom {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  width: 24px;
  height: 24px;
  border-style: none solid solid none;
  border-width: 1px;
  border-color: #2d67f1 #2d67f1 #2d67f1 #000;
}

.left-top {
  width: 24px;
  height: 24px;
  border-top: 1px solid #2d67f1;
  border-left: 1px solid #2d67f1;
}

.grid-2 {
  padding-top: 32px;
  padding-bottom: 32px;
  grid-column-gap: 24px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-2 {
  text-align: center;
}

.number {
  margin-bottom: -8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc03), to(#ff942e));
  background-image: linear-gradient(180deg, #ffcc03, #ff942e);
  font-size: 48px;
  line-height: 100%;
  font-weight: 900;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-span-3 {
  font-size: 24px;
}

.paragraph-2 {
  color: #8094b5;
}

.paragraph-2.sm {
  font-size: 14px;
  line-height: 130%;
}

.light {
  color: #8094b5;
  font-weight: 500;
}

.szolgaltatasok {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.szolg-img {
  width: 398px;
  height: 398px;
  border-radius: 8px;
  background-image: url('../images/image2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 20px 2px rgba(0, 41, 107, 0.2);
}

.szolg-img.rendezvenyszervezes {
  background-image: url('../images/evelina-friman-hw_sKmjb0ns-unsplash.jpg');
  background-position: 50% 100%;
}

.szolg-img.szolgaltatok {
  background-image: url('../images/image4.jpg');
}

.szolg-img.tanacsadas {
  background-image: url('../images/shutterstock_795148150.jpg');
}

.h4 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Lora, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.h4.accordion {
  margin-bottom: 0px;
  line-height: 130%;
}

.zolg-grid-r {
  margin-bottom: 64px;
  grid-column-gap: 24px;
  -ms-grid-columns: 1.75fr 1fr;
  grid-template-columns: 1.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

._10tipp {
  position: relative;
  margin-bottom: 120px;
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(69%, rgba(244, 247, 254, 0))), url('../images/10tipp-bg-min.jpg');
  background-image: linear-gradient(90deg, #fff, rgba(244, 247, 254, 0) 69%), url('../images/10tipp-bg-min.jpg');
  background-position: 0px 0px, 0% 75%;
  background-size: auto, 100%;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

._10tippcontainer {
  max-width: 1200px;
  margin: 120px auto 0px;
  padding: 80px 40px;
}

._10tippcontainer._10tipp {
  margin-top: 64px;
  padding-top: 80px;
  padding-bottom: 64px;
}

.gal-ria {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 898px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-3 {
  -ms-grid-columns: 1fr 5.75fr;
  grid-template-columns: 1fr 5.75fr;
}

.div-block-3 {
  width: 818px;
  height: 659px;
}

.grid-4 {
  margin-bottom: 24px;
  grid-column-gap: 24px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-4 {
  position: static;
  overflow: hidden;
  width: 397px;
  height: 397px;
  margin-right: 0px;
  margin-left: auto;
  border-radius: 8px;
  background-image: url('../images/Werockthewedding_1.jpg');
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block-5 {
  width: 100%;
  height: 186.5px;
  border-radius: 8px;
  background-image: url('../images/Mr_Mrs-játék-javításban-kérlelhetetlen-vagyok_1.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.div-block-6 {
  width: 397px;
  height: 186.5px;
  border-radius: 8px;
  background-image: url('../images/2019-kondella-265.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.div-block-7 {
  width: 100%;
  height: 186.5px;
  border-radius: 8px;
  background-image: url('../images/werk-415-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.grid-5 {
  height: 397px;
  grid-column-gap: 24px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-6 {
  margin-top: 24px;
  grid-column-gap: 24px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-8 {
  height: 237px;
  border-radius: 8px;
  background-image: url('../images/69203266_426359767973382_543023293737730048_n_1.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.div-block-9 {
  border-radius: 8px;
  background-image: url('../images/_MG_4380.jpg');
  background-position: 0% 50%;
  background-size: cover;
}

.div-block-10 {
  height: 237px;
}

.div-block-11 {
  overflow: hidden;
}

.image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.lightbox-link {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 2px rgba(0, 41, 107, 0.2);
}

.testimonials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tab-link {
  padding-left: 20px;
  background-color: transparent;
  font-family: Lora, sans-serif;
  color: #00296b;
  font-size: 16px;
  font-weight: 700;
}

.tab-link.w--current {
  padding-right: 20px;
  border-bottom: 2px solid #ff942e;
  background-color: hsla(0, 0%, 78.4%, 0);
  font-family: Lora, sans-serif;
  color: #00296b;
  font-size: 16px;
  font-weight: 700;
}

.tab-link-tab-2 {
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tab-link-tab-3 {
  background-color: hsla(0, 0%, 86.7%, 0);
}

.columns {
  position: relative;
  width: 100%;
}

.tabs-menu {
  margin-bottom: 0px;
  padding-left: 104px;
}

.tab-pane {
  position: static;
  overflow: visible;
  height: auto;
  margin-left: 0px;
  padding: 40px 24px 40px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #cfd5e5;
  border-radius: 8px;
  -o-object-fit: fill;
  object-fit: fill;
}

.h3 {
  margin-top: 0px;
  margin-bottom: 8px;
  font-family: Lora, sans-serif;
}

.h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lora, sans-serif;
  color: #8094b5;
  font-size: 18px;
}

.div-block-12 {
  width: 48px;
  height: 3px;
  margin-top: 24px;
  margin-bottom: 24px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff942e), to(#ffcc03));
  background-image: linear-gradient(90deg, #ff942e, #ffcc03);
}

.column {
  position: static;
  overflow: visible;
}

.image-2 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.tabs {
  position: static;
}

.column-2 {
  position: static;
}

.img {
  position: absolute;
  left: -98px;
  top: 0px;
  background-image: url('../images/Jani_Mariann3.jpg');
  background-position: 0px 0px;
  background-size: auto;
}

.tabs-content {
  position: static;
}

.image-3 {
  position: absolute;
  left: 233.328px;
  top: 0px;
  max-height: 398px;
  max-width: 398px;
}

.testimonial-img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  overflow: hidden;
  width: 398px;
  height: 398px;
  max-height: none;
  max-width: none;
  border-radius: 8px;
  box-shadow: 1px 1px 20px 2px rgba(0, 41, 107, 0.2);
}

.testimonial-img.sk {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.image-4 {
  display: inline-block;
  max-width: 150%;
  margin-right: auto;
  margin-left: 0px;
}

.image-4.niki-csabi {
  margin-right: -167px;
}

.image-4.krisztidani {
  width: 150%;
  height: 150%;
  max-width: none;
  margin-top: -77px;
}

.image-4.viki-geri {
  margin-right: -22px;
}

.desktop-testimonials {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.div-block-14 {
  position: relative;
  width: 30%;
}

.div-block-15 {
  width: 70%;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding-left: 124px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gyik {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion-wrapper {
  width: 100%;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  min-height: 80px;
  padding-right: 16px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px none #000;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
  padding-bottom: 0px;
  border-bottom: 1px solid #cfd5e5;
}

.image-5 {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  color: #00296b;
}

.badge {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-6 {
  margin-bottom: 0px;
}

.text-block {
  color: #8094b5;
}

.erdeklodes-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 80px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.erdeklodes {
  background-color: transparent;
}

.erdeklodes.grey {
  background-color: #f7f9fc;
}

.grid-7 {
  width: 100%;
  grid-column-gap: 24px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-field {
  height: 56px;
  margin-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #8094b5;
  border-radius: 8px;
  background-color: transparent;
  color: #00296b;
}

.text-area {
  height: auto;
  min-height: 112px;
  border-style: solid;
  border-width: 1px;
  border-color: #8094b5;
  border-radius: 8px;
  background-color: transparent;
  color: #00296b;
}

.footercontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 120px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  display: none;
  background-color: #00296b;
}

.grid-8 {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  color: #00296b;
}

.foot-contact {
  padding-bottom: 8px;
  color: #fff;
}

.link {
  color: #fff;
}

.image-7 {
  padding-right: 12px;
}

.image-8 {
  margin-bottom: 32px;
}

.div-block-17 {
  margin-top: 24px;
}

.link-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
}

.grid {
  margin-top: 0px;
  margin-bottom: 80px;
  grid-column-gap: 24px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid._80 {
  margin-top: 80px;
}

.logo-icon {
  display: none;
}

.mobil-testimonials {
  display: none;
  width: 100%;
}

.flower-1 {
  position: absolute;
  left: -8%;
  top: 15%;
  right: auto;
  bottom: auto;
}

.flower-2 {
  position: absolute;
  left: -3%;
  top: 33%;
  right: auto;
  bottom: auto;
}

.flower-3 {
  position: absolute;
  left: auto;
  top: 493px;
  right: -6%;
  bottom: auto;
}

.flower-4 {
  position: absolute;
  left: -6%;
  top: 35%;
  right: auto;
  bottom: 0%;
}

.fly {
  position: absolute;
  left: auto;
  top: -22%;
  right: 10%;
  bottom: auto;
}

.flower-5 {
  position: absolute;
  left: -16%;
  top: 12%;
  right: auto;
  bottom: 0%;
}

.flower-6 {
  position: absolute;
  left: auto;
  top: 37%;
  right: -64px;
  bottom: 0%;
}

.flower-7 {
  position: absolute;
  left: auto;
  top: 11%;
  right: -9%;
  bottom: 0%;
}

.flower-8 {
  position: absolute;
  left: auto;
  top: 73%;
  right: -144px;
  bottom: 0%;
}

.success-message {
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #2d67f1;
  border-radius: 10px;
  background-color: transparent;
}

.text-block-2 {
  display: block;
  height: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Lora, sans-serif;
  color: #2d67f1;
  font-weight: 700;
}

.div-block-19 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-3 {
  color: #8094b5;
}

.badge-hero {
  position: absolute;
  left: auto;
  top: auto;
  right: 5%;
  bottom: 4%;
  max-width: 16%;
  margin-bottom: 20px;
}

.badge-hero.phone-hide {
  position: relative;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  max-width: 200px;
  margin-bottom: 0px;
}

.badge-hero.hide-desktop {
  display: none;
}

.body-2 {
  font-family: Lato, sans-serif;
  color: #00296b;
  font-size: 18px;
  line-height: 140%;
}

.content-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 280px auto 120px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.top-image-1 {
  width: 100%;
  height: 500px;
  max-width: none;
  margin-top: 80px;
  margin-bottom: 0px;
  border-radius: 10px;
  background-image: url('../images/_MG_4808.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.top-image-1.mid {
  margin-top: 56px;
  background-image: url('../images/top10-1.jpg');
  background-position: 50% 0%;
  background-size: cover;
}

.tipp-n {
  display: block;
  margin-top: 56px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: left;
}

.content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 820px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.gold {
  color: #ffcc03;
}

.li {
  margin-top: 18px;
}

.quote-top10 {
  margin-top: 32px;
  margin-bottom: 12px;
  font-family: Lora, sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
}

.rolam {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 80px auto 0px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-20 {
  background-color: #f7f9fc;
}

.very-strong {
  color: #00296b;
  font-size: 24px;
  font-weight: 700;
}

.div-block-21 {
  position: absolute;
  left: 0%;
  top: -34%;
  right: 0%;
  bottom: auto;
  z-index: -5;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(59%, hsla(0, 0%, 100%, 0)), to(#fff)), url('../images/roses.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 59%, #fff), url('../images/roses.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  opacity: 0.6;
}

.seperateor {
  width: 200px;
  height: 4px;
  margin-bottom: 24px;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff942e), to(#ffcc03));
  background-image: linear-gradient(90deg, #ff942e, #ffcc03);
}

.hero-top10 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: -2;
  width: 100%;
  height: 650px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(33%, hsla(0, 0%, 100%, 0)), to(#fff)), url('../images/top10-hero.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 33%, #fff), url('../images/top10-hero.jpg');
  background-position: 0px 0px, 50% 60%;
  background-size: auto, cover;
}

.top-image-2 {
  width: 100%;
  height: 500px;
  max-width: none;
  margin-top: 80px;
  margin-bottom: 0px;
  border-radius: 10px;
  background-image: url('../images/_MG_4808.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.top-image-2.mid {
  margin-top: 56px;
  background-image: url('../images/top10-2.jpg');
  background-position: 50% 80%;
}

.link-block-3 {
  display: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block-22 {
  position: absolute;
  right: 5%;
  bottom: 4%;
  padding: 40px;
  border-radius: 0%;
  background-color: transparent;
}

.div-block-23 {
  position: absolute;
  right: 43px;
  bottom: 23px;
  z-index: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

.listitem {
  padding-left: 0px;
}

.list {
  color: #8094b5;
  font-weight: 700;
}

.div-block-24 {
  width: 60%;
}

.contact-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 56px;
  height: 56px;
  margin-right: 12px;
  margin-left: 12px;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff942e), to(#ffcc03));
  background-image: linear-gradient(90deg, #ff942e, #ffcc03);
  box-shadow: 2px 0 20px 2px rgba(204, 165, 33, 0.5);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  text-decoration: none;
}

.contact-btn:hover {
  box-shadow: 2px 0 20px 2px rgba(204, 165, 33, 0);
}

.contact-btn.test {
  width: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.text-block-4 {
  position: static;
  display: none;
  width: auto;
  padding-left: 6px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.text-block-4.test {
  display: block;
  padding-left: 8px;
}

@media screen and (max-width: 991px) {
  .hero {
    background-position: 0px 0px, 45% 0%;
  }

  .h1 {
    width: 70%;
  }

  .h1.center {
    width: 100%;
  }

  .zolg-grid-l {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block {
    height: 400px;
    background-position: 50% 22%;
  }

  .paragraph.top10 {
    margin-top: 0px;
  }

  .paragraph-2.sm {
    margin-top: 40px;
  }

  .szolg-img.jatekok {
    width: auto;
    height: 350px;
    margin-bottom: 12px;
  }

  .szolg-img.rendezvenyszervezes {
    width: auto;
    height: 350px;
    margin-bottom: 12px;
    padding-bottom: 0px;
    background-position: 50% 85%;
  }

  .szolg-img.szolgaltatok {
    width: auto;
    height: 350px;
    margin-bottom: 12px;
  }

  .szolg-img.tanacsadas {
    width: auto;
    height: 350px;
    margin-bottom: 12px;
  }

  .h4.accordion {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .zolg-grid-r {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  ._10tipp {
    background-position: 0px 0px, 0% 100%;
    background-size: auto, cover;
  }

  .div-block-3 {
    display: block;
    width: 688px;
    height: 544px;
    padding-left: 0px;
  }

  .grid-4 {
    margin-bottom: 20px;
    grid-column-gap: 20px;
  }

  .div-block-4 {
    width: 334px;
    height: 334px;
  }

  .div-block-5 {
    height: 157px;
  }

  .div-block-6 {
    width: auto;
    height: 157px;
  }

  .div-block-7 {
    height: 157px;
  }

  .grid-5 {
    height: 334px;
    grid-column-gap: 20px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .grid-6 {
    margin-top: 20px;
    grid-column-gap: 20px;
  }

  .div-block-8 {
    height: 200px;
  }

  .testimonials {
    overflow: hidden;
  }

  .h5 {
    display: none;
  }

  .div-block-12 {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .desktop-testimonials {
    display: none;
  }

  .div-block-16 {
    padding-left: 0px;
  }

  .grid-7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .grid-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-18 {
    width: 334px;
  }

  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .logo-icon {
    display: none;
  }

  .mobil-testimonials {
    display: block;
  }

  .mask {
    overflow: visible;
    height: auto;
  }

  .slide {
    width: auto;
    padding-right: 24px;
  }

  .slider {
    height: auto;
    background-color: transparent;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .slide-nav {
    position: static;
    overflow: hidden;
    height: 16px;
    margin-top: 24px;
  }

  .image-10 {
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .flower-1 {
    display: none;
  }

  .flower-1.para-d-1 {
    display: none;
  }

  .flower-2 {
    display: none;
  }

  .flower-2.para-d-3 {
    display: none;
  }

  .flower-3 {
    display: none;
  }

  .flower-3.para-d-1 {
    display: none;
  }

  .flower-4 {
    display: none;
  }

  .flower-4.para-d-1 {
    display: none;
  }

  .flower-5 {
    display: none;
  }

  .flower-5.para-d-1 {
    display: none;
  }

  .flower-6 {
    display: none;
  }

  .flower-6.para-d-1 {
    display: none;
  }

  .flower-7 {
    display: none;
  }

  .flower-7.para-d-2 {
    display: none;
  }

  .flower-7.para-d-1 {
    display: none;
  }

  .flower-8 {
    display: none;
  }

  .flower-8.para-d-3 {
    display: none;
  }

  .badge-hero {
    right: 10%;
    bottom: 10%;
    max-width: 25%;
  }

  .badge-hero.phone-hide {
    max-width: 200px;
  }

  .top-image-1.mid {
    background-position: 0% 0%;
  }

  .link-block-3 {
    display: none;
  }

  .div-block-24 {
    width: auto;
  }

  .text-block-4.test {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: 60px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#00296b), color-stop(78%, rgba(0, 41, 107, 0)), to(rgba(0, 41, 107, 0))), url('../images/nexthero-min.jpg');
    background-image: linear-gradient(0deg, #00296b, rgba(0, 41, 107, 0) 78%, rgba(0, 41, 107, 0)), url('../images/nexthero-min.jpg');
    background-position: 0px 0px, 55% 0%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
  }

  .menu {
    padding-top: 24px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .herocontainer {
    padding-right: 24px;
    padding-bottom: 60px;
    padding-left: 24px;
  }

  .herocontainer.para-u-1 {
    padding-bottom: 32px;
  }

  .h1 {
    width: auto;
    font-size: 24px;
    line-height: 32px;
  }

  .h1.top10 {
    font-size: 32px;
  }

  .quote {
    font-size: 20px;
  }

  .main-cta {
    width: 100%;
    margin-top: 32px;
  }

  .main-cta.kapcsoalt {
    display: none;
  }

  .szamok {
    margin-bottom: 80px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .h2 {
    margin-bottom: 48px;
    font-size: 28px;
    line-height: 34px;
  }

  .h2.sm {
    line-height: 32px;
  }

  .h2.sm.center {
    margin-top: 0px;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  .h2.erdeklodes {
    margin-top: 0px;
  }

  .zolg-grid-l {
    margin-bottom: 64px;
  }

  .div-block {
    margin-bottom: 18px;
  }

  .stats {
    margin-bottom: 32px;
  }

  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-2 {
    margin-bottom: 40px;
  }

  .div-block-2.last {
    margin-bottom: 0px;
  }

  .szolgaltatasok {
    padding-right: 24px;
    padding-left: 24px;
  }

  .szolg-img.rendezvenyszervezes {
    margin-bottom: 8px;
  }

  .h4 {
    margin-bottom: 16px;
    font-size: 20px;
  }

  ._10tipp {
    margin-bottom: 80px;
    background-image: url('../images/sm-10tipp-bg-min.jpg');
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }

  ._10tippcontainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 520px;
    padding: 48px 24px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .gal-ria {
    margin-bottom: 80px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .div-block-3 {
    width: 100%;
    height: auto;
  }

  .grid-4 {
    height: 157px;
  }

  .div-block-4 {
    overflow: visible;
    width: 100%;
  }

  .div-block-5 {
    height: auto;
  }

  .div-block-6 {
    height: 157px;
  }

  .div-block-7 {
    height: auto;
  }

  .grid-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .grid-6 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .lightbox-link {
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .testimonials {
    margin-bottom: 80px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .gyik {
    padding-right: 24px;
    padding-left: 24px;
  }

  .erdeklodes-container {
    padding: 60px 24px;
  }

  .footercontainer {
    padding-right: 24px;
    padding-left: 24px;
  }

  .div-block-18 {
    width: auto;
    height: 334px;
  }

  .grid {
    margin-top: 0px;
    margin-bottom: 60px;
  }

  .slide {
    width: auto;
  }

  .slide-nav {
    margin-top: 24px;
  }

  .fly {
    display: none;
  }

  .badge-hero {
    position: static;
    display: block;
    max-width: 30%;
    margin-right: auto;
    margin-left: auto;
  }

  .badge-hero.phone-hide {
    display: none;
  }

  .badge-hero.hide-desktop {
    display: block;
    max-width: 200px;
    margin-bottom: 40px;
  }

  .content-wrapper {
    margin-bottom: 80px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .tipp-n {
    font-size: 20px;
  }

  .quote-top10 {
    font-size: 20px;
  }

  .rolam {
    margin-bottom: 0px;
    padding-right: 24px;
    padding-left: 24px;
  }

  .top-image-2.mid {
    background-position: 60% 100%;
  }

  .link-block-3 {
    display: none;
  }

  .div-block-22 {
    display: none;
  }

  .div-block-24 {
    width: auto;
  }

  .contact-holder {
    margin-top: 30px;
  }

  .contact-btn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    background-position: 0px 0px, 70% 0%;
  }

  .menu {
    padding-right: 16px;
    padding-left: 16px;
  }

  .herocontainer {
    margin-bottom: 60px;
    padding: 160px 16px 0px;
  }

  .herocontainer.para-u-1 {
    padding-bottom: 32px;
  }

  .h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .h1.top10 {
    font-size: 30px;
    line-height: 42px;
  }

  .hashtag {
    display: none;
  }

  .szamok {
    padding-right: 16px;
    padding-left: 16px;
  }

  .h2 {
    font-size: 24px;
    text-align: center;
  }

  .h2.sm.center {
    font-size: 24px;
  }

  .zolg-grid-l {
    margin-bottom: 48px;
  }

  .grid-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-2 {
    margin-bottom: 48px;
  }

  .szolgaltatasok {
    padding-right: 16px;
    padding-left: 16px;
  }

  ._10tippcontainer {
    padding-right: 16px;
    padding-left: 16px;
  }

  .gal-ria {
    padding-right: 16px;
    padding-left: 16px;
  }

  .testimonials {
    overflow: hidden;
    margin-bottom: 80px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .h3 {
    font-size: 20px;
  }

  .h5 {
    display: none;
  }

  .div-block-12 {
    margin-top: 0px;
    margin-bottom: 12px;
  }

  .div-block-16 {
    padding-left: 0px;
  }

  .gyik {
    margin-bottom: 80px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .badge {
    margin-bottom: 80px;
  }

  .erdeklodes-container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .footercontainer {
    padding-right: 16px;
    padding-left: 16px;
  }

  .logo {
    display: none;
    max-width: 60%;
  }

  .logo-icon {
    display: block;
    max-width: none;
  }

  .mask {
    overflow: visible;
    width: 100%;
    height: auto;
  }

  .slide {
    width: auto;
    margin-right: 20px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .slider {
    overflow: visible;
    width: auto;
    height: 100%;
    background-color: transparent;
  }

  .left-arrow {
    display: none;
  }

  .right-arrow {
    display: none;
  }

  .slide-2 {
    width: 80%;
  }

  .slide-nav {
    position: static;
    overflow: hidden;
    height: 16px;
    margin-top: 24px;
  }

  .image-10 {
    height: auto;
    max-height: none;
    max-width: 100%;
    margin-bottom: 12px;
    border-radius: 6px;
  }

  .badge-hero {
    max-width: 60%;
  }

  .badge-hero.hide-desktop {
    margin-bottom: 40px;
  }

  .content-wrapper {
    margin-top: 160px;
    padding-right: 16px;
    padding-left: 16px;
  }

  .top-image-1 {
    height: 400px;
  }

  .top-image-1.mid {
    height: 300px;
    background-position: 0% 50%;
  }

  .quote-top10 {
    font-size: 20px;
  }

  .rolam {
    padding-right: 16px;
    padding-left: 16px;
  }

  .seperateor {
    margin-bottom: 0px;
  }

  .hero-top10 {
    top: -17%;
    height: 600px;
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
  }

  .top-image-2 {
    height: 400px;
  }

  .top-image-2.mid {
    height: 300px;
  }

  .link-block-2 {
    display: none;
  }

  .link-block-3 {
    display: block;
    width: 48px;
    height: 48px;
  }

  .div-block-24 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .contact-holder {
    margin-top: 24px;
  }

  .contact-btn {
    width: 48px;
    height: 48px;
    padding-right: 14px;
    padding-left: 14px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .contact-btn.test {
    width: 48px;
  }
}

#w-node-_1a8314d9-364b-f59a-ab44-b8c1680994ee-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_1a8314d9-364b-f59a-ab44-b8c1680994f5-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_1a8314d9-364b-f59a-ab44-b8c1680994fc-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_02cbd4c0-f94f-337d-2431-703dfcb85867-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-de28e5a3-1b58-d225-d971-6ea1cd174ba6-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_90d34ba1-aa06-65a4-851d-aa2e97ea0e7c-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

#w-node-_40887161-4bef-d440-6283-a6f2ed829702-25063d97 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

